@font-face {
    font-family: 'Rubik';
    src: url(/static/Rubik-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(/static/Rubik-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(/static/Rubik-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    padding-left: 20px;
}

* {
    font-family: 'Rubik', sans-serif;
}

i {
    width: 140px;
    padding-right: 10px;
    margin-right: 10px;
    display: inline-block;
    border-right: 1px solid #00000033;
}

li {
    margin: 5px 0;
}

.last-edit {
    font-size: 14px;
}